/*bxslider*/
.front-slider .views-field-body,
.front-slider .views-field-title{
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 24px;
  background-color: #000066;
  color: white;
}
.front-slider .views-field-body{
  position: absolute;
  left: 50px;
  top: 100px;
  font-size: 18px;
  background-color: #660000;
}
.front-slider .bx-viewport{
  border: none;
  left: 0;
}