/*bxslider*/
.front-slider .views-field-body{
  position: absolute;
  left: 0;
  padding: 0 80px;
  top: 50px;
  font-size: 24px;
  /*background-color: #660000;*/
  /*background: rgba(41,47,56,.5);*/
  color: white;
  -webkit-animation: top_move 0.5s;
  animation: top_move 0.5s;
}

.front-slider .views-field-body .title{
  font-size: 50px;
}
.front-slider .slider-active-slide{

}
.front-slider .bx-wrapper{
  margin: 0 auto;
}
.front-slider .bx-wrapper .bx-viewport{
  border: none;
  left: 0;
}
.front-slider .bx-wrapper:hover .bx-controls-direction a{
  display: inline-block;
}
.front-slider .bx-wrapper:hover .bx-controls-direction a.bx-prev{
  -webkit-animation: left_move 0.5s;
  animation: left_move 0.5s;
}
.front-slider .bx-wrapper:hover .bx-controls-direction a.bx-next{
  -webkit-animation: right_move 0.5s;
  animation: right_move 0.5s;
}
.front-slider .bx-wrapper .bx-controls-direction a{
  display: none;
  text-indent: 0;
  margin-top: -32px;
  width: auto;
  height: auto;
  background: rgba(41,47,56,.5);
  border-radius: 5px;
  /*display: inline-block;*/
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  color: #ffffff;
  text-decoration: none;
}
.front-slider .bx-wrapper .bx-controls-direction a:hover{
  -webkit-animation: color_a 1s;
  animation: color_a 1s;
  color: #DD0017;
}
.front-slider .bx-controls-direction a.bx-next{
  font-size: 60px;
  padding: 0 18px 0 21px;
}
.front-slider .bx-controls-direction a.bx-prev{
  font-size: 60px;
  padding: 0 21px 0 18px;
}
.front-slider .bx-controls-direction a.bx-next:before{
  content: "\f105";
}
.front-slider .bx-controls-direction a.bx-prev:before{
  content: "\f104";
}
.front-slider .bx-wrapper .bx-pager{
  bottom: 20px;
}
.front-slider .bx-wrapper .bx-pager.bx-default-pager a{
  width: 25px;
  height: 8px;
  background: #ffffff;
}
.front-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.front-slider .bx-wrapper .bx-pager.bx-default-pager a.active{background: #DD0017;}

/* Chrome, Safari, Opera */
@-webkit-keyframes color_a {
  from {color: #ffffff;}
  to {color: #DD0017;}
}

/* Standard syntax */
@keyframes color_a {
  from {color: #ffffff;}
  to {color: #DD0017;}
}

@-webkit-keyframes left_move {
  from {left: -30px; opacity: 0}
  to {left: 10px; opacity: 1}
}
@keyframes left_move {
  from {left: -30px; opacity: 0}
  to {left: 10px; opacity: 1}
}
@-webkit-keyframes right_move {
  from {right: -30px; opacity: 0}
  to {right: 10px; opacity: 1}
}
@keyframes right_move {
  from {right: -30px; opacity: 0}
  to {right: 10px; opacity: 1}
}

@-webkit-keyframes top_move {
  from {top: -100px; opacity: 0}
  to {top: 50px; opacity: 1}
}
@keyframes top_move {
  from {top: -100px; opacity: 0}
  to {top: 50px; opacity: 1}
}

/*Top products*/
.view-mixitup-controls .views-row{
  display: inline-block;
  padding: 10px 20px;
  background-color: #009198;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-right: -2px;
}
.top-front-products .views-row{
  display: inline-block;
  margin-right: 10px;
}

.top-front-products .mix{
  display: none;
}


/*Header*/
.pane-system-main-menu {
  width: 1170px;
}
.pane-system-main-menu .pane-content > .menu>li {
  float: left;
  /*display: inline-block;*/
  padding: 20px 40px;
  background-color: #009198;
  -webkit-transition: background-color 0.8s ease-in-out;
  -moz-transition: background-color 0.8s ease-in-out;
  -o-transition: background-color 0.8s ease-in-out;
  transition: background-color 0.8s ease-in-out;
}
.pane-system-main-menu .pane-content > .menu>li:hover {
  background-color: #e74c3c;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
.pane-system-main-menu .pane-content > .menu>li a {
  color: #fff;
}
.pane-system-main-menu .pane-content > .menu>li a:hover {
 text-decoration: none;
}
.pane-system-main-menu .pane-content > .menu>li.expanded ul {
  /*display: none;*/
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-transition: width 0.8s ease-in-out 0.3s, height 0.8s ease-in-out 0.2s, opacity 0.8s ease-in-out;
  -moz-transition: width 0.8s ease-in-out 0.3s, height 0.8s ease-in-out 0.2s, opacity 0.8s ease-in-out;
  -o-transition: width 0.8s ease-in-out 0.3s, height 0.8s ease-in-out 0.2s, opacity 0.8s ease-in-out;
  transition: width 0.8s ease-in-out 0.3s, height 0.8s ease-in-out 0.2s, opacity 0.8s ease-in-out;
}
.pane-system-main-menu .pane-content > .menu>li.expanded:hover ul {
  /*display: block;*/
  opacity: 1;
  width: 150px;
  height: 100px;
  -webkit-transition: width 0.8s ease-in-out, height 0.8s ease-in-out 0.4s, opacity 0.8s ease-in-out 0.5s;
  -moz-transition: width 0.8s ease-in-out, height 0.8s ease-in-out 0.4s, opacity 0.8s ease-in-out 0.5s;
  -o-transition: width 0.8s ease-in-out, height 0.8s ease-in-out 0.4s, opacity 0.8s ease-in-out 0.5s;
  transition: width 0.8s ease-in-out, height 0.8s ease-in-out 0.4s, opacity 0.8s ease-in-out 0.5s;
}
.pane-system-main-menu .pane-content > .menu>li.expanded:hover ul li {
  line-height: 30px;
  -webkit-transition: line-height 0.8s ease-in-out 0.7s;
  -moz-transition: line-height 0.8s ease-in-out 0.7s;
  -o-transition: line-height 0.8s ease-in-out 0.7s;
  transition: line-height 0.8s ease-in-out 0.7s;
}
.pane-system-main-menu .pane-content > .menu>li.expanded ul li {
  line-height: 20px;
  -webkit-transition: line-height 1s ease-in-out;
  -moz-transition: line-height 1s ease-in-out;
  -o-transition: line-height 1s ease-in-out;
  transition: line-height 1s ease-in-out;
}
/*logo*/
.navbar-header .logo {
  display: none;
}
.pane-page-logo img:hover {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
@-webkit-keyframes swing {
  20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
  20% { -webkit-transform: rotate(15deg); }
  40% { -webkit-transform: rotate(-10deg); }
  60% { -webkit-transform: rotate(5deg); }
  80% { -webkit-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@keyframes swing {
  20% { transform: rotate(15deg); }
  40% { transform: rotate(-10deg); }
  60% { transform: rotate(5deg); }
  80% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}