/*bxslider*/
.front-slider .views-field-body{
  position: absolute;
  left: 0;
  padding: 0 80px;
  top: 80px;
  font-size: 16px;
  /*background-color: #660000;*/
  /*background: rgba(41,47,56,.5);*/
  color: white;
}
.front-slider .views-field-body .title{
  font-size: 30px;
  position: relative;
  left: 0;
  -webkit-animation: left_move_big 1s;
  animation: left_move_big 1s;
}
.front-slider .views-field-body .body{
  /*right: -100px;*/
  /*-webkit-animation: right_move_big 1s;*/
  /*animation: right_move_big 1s;*/
  position: relative;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.front-slider .bx-wrapper{
  margin: 0 auto;
}
.front-slider .bx-wrapper .bx-viewport{
  border: none;
  left: 0;
}
.front-slider .bx-wrapper:hover .bx-controls-direction a{
  display: inline-block;
}
.front-slider .bx-wrapper:hover .bx-controls-direction a.bx-prev{
  -webkit-animation: left_move 0.5s;
  animation: left_move 0.5s;
}
.front-slider .bx-wrapper:hover .bx-controls-direction a.bx-next{
  -webkit-animation: right_move 0.5s;
  animation: right_move 0.5s;
}
.front-slider .bx-wrapper .bx-controls-direction a{
  display: none;
  text-indent: 0;
  margin-top: -32px;
  width: auto;
  height: auto;
  background: rgba(41,47,56,.5);
  border-radius: 5px;
  /*display: inline-block;*/
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  color: #ffffff;
  text-decoration: none;
}
.front-slider .bx-wrapper .bx-controls-direction a:hover{
  -webkit-animation: color_a 1s;
  animation: color_a 1s;
  color: #DD0017;
}
.front-slider .bx-controls-direction a.bx-next{
  font-size: 60px;
  padding: 0 18px 0 21px;
}
.front-slider .bx-controls-direction a.bx-prev{
  font-size: 60px;
  padding: 0 21px 0 18px;
}
.front-slider .bx-controls-direction a.bx-next:before{
  content: "\f105";
}
.front-slider .bx-controls-direction a.bx-prev:before{
  content: "\f104";
}
.front-slider .bx-wrapper .bx-pager{
  bottom: 20px;
}
.front-slider .bx-wrapper .bx-pager.bx-default-pager a{
  width: 25px;
  height: 8px;
  background: #ffffff;
}
.front-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.front-slider .bx-wrapper .bx-pager.bx-default-pager a.active{background: #DD0017;}

/* Chrome, Safari, Opera */
@-webkit-keyframes color_a {
  from {color: #ffffff;}
  to {color: #DD0017;}
}

/* Standard syntax */
@keyframes color_a {
  from {color: #ffffff;}
  to {color: #DD0017;}
}

@-webkit-keyframes left_move {
  from {left: -50px; opacity: 0}
  to {left: 0; opacity: 1}
}
@keyframes left_move {
  from {left: -50px; opacity: 0}
  to {left: 0; opacity: 1}
}
@-webkit-keyframes left_move_big {
  from {left: -100px; opacity: 0}
  to {left: 0; opacity: 1}
}
@keyframes left_move_big {
  from {left: -100px; opacity: 0}
  to {left: 0; opacity: 1}
}
@-webkit-keyframes right_move_big {
  from {right: -1000px; opacity: 0}
  to {right: 0; opacity: 1}
}
@keyframes right_move_big {
  from {right: -1000px; opacity: 0}
  to {right: 0; opacity: 1}
}
@-webkit-keyframes right_move {
  from {right: -30px; opacity: 0}
  to {right: 10px; opacity: 1}
}
@keyframes right_move {
  from {right: -30px; opacity: 0}
  to {right: 10px; opacity: 1}
}

@-webkit-keyframes top_move {
  from {top: -100px; opacity: 0}
  to {top: 50px; opacity: 1}
}
@keyframes top_move {
  from {top: -100px; opacity: 0}
  to {top: 50px; opacity: 1}
}
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}
@-webkit-keyframes tada {
  0% {-webkit-transform: scale(1);}
  10%, 20% {-webkit-transform: scale(0.9) rotate(-10deg);}
  30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(10deg);}
  40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-10deg);}
  100% {-webkit-transform: scale(1) rotate(0);}
}
@keyframes tada {
  0% {transform: scale(1);}
  10%, 20% {transform: scale(0.9) rotate(-10deg);}
  30%, 50%, 70%, 90% {transform: scale(1.1) rotate(10deg);}
  40%, 60%, 80% {transform: scale(1.1) rotate(-10deg);}
  100% {transform: scale(1) rotate(0);}
}
@-webkit-keyframes rollOut {
  0% {
    color: #ddb5b1;
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
  }
  100% {
    color: #dd1515;
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
  }
}
@keyframes rollOut {
  0% {
    color: #ddb5b1;
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    color: #dd1515;
    opacity: 0;
    transform: translateX(100%) rotate(120deg);
  }
}
@-webkit-keyframes flipOutX {
  0% {
    /*background: #ddb5b1;*/
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    /*background: #dd1515;*/
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes flipOutX {
  0% {
    /*background: #ddb5b1;*/
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    /*background: #dd1515;*/
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}
/*Top products*/
.view-mixitup-controls .views-row{
  display: inline-block;
  padding: 10px 20px;
  background-color: #009198;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-right: -2px;
  margin-bottom: 2px;
}
.top-front-products .views-row{
  display: inline-block;
  margin-right: 10px;
}

.top-front-products .mix{
  display: none;
}
#navbar{
  position: fixed;
  z-index: 999;
}
.cart-wrapper{
  position: relative;
  display: inline-block;
  float: right;
  border: 1px solid #009198;
  border-radius: 20px;
  padding: 4px 22px;
}
.cart-subject{
  display: inline-block;

}
.cart-subject span{
  padding: 5px;
  padding-left: 15px;
  vertical-align: middle;
  font-weight: bold;
}
.cart-subject .fa-shopping-cart{
  vertical-align: middle;
}
.cart-subject .fa-shopping-cart:before{
  font-size: 30px;
  color: #DD0017;
}
.cart-animation{
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.cart-wrapper:hover .cart-contents{
  display: block;
  position: absolute;
  /*background: #ffffff;*/
  z-index: 999;
  right: 0;
  /*top: 60px;*/
  /*padding: 5px;*/
  min-width: 360px;
}
.cart-contents{
  display: none;
  padding-top: 20px;
}
.cart-contents .view-commerce-cart-block:before {
  content: '';
  position: absolute;
  top: -24px;
  right: 15px;
  border: 10px solid transparent;
  border: 10px solid transparent;
  border-bottom: 14px solid white;
}
.cart-contents .view-commerce-cart-block{
  background: #ffffff;
  padding: 5px 10px 1px 12px;
  box-shadow: -1px 3px 5px rgba(103,180,230,0.5);
}
.cart-contents .view-commerce-cart-block td{
  vertical-align: middle;
}
.cart-contents .views-field-field-product-image{
  padding-left: 0;
}
.cart-contents .views-field-line-item-id{
  padding-right: 0;
}
.cart-contents .views-row-first td{
  border-top: none;
}
.cart-contents .glyphicon-remove{

}
.cart-contents .glyphicon-remove:hover{
  color: #DD0017;
  opacity: 1;
}
.cart-contents .remove-line{
  position: relative;
}
.cart-contents .ajax-progress-throbber{
  position: absolute;
  left: -8px;
  top: 0;
}
.remove-row-animation td{
  border:none!important;
}
.remove-row-animation{

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  animation-name: flipOutX;
  backface-visibility: visible !important;

}